<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explode</key>
	<dict>
		<key>credits</key>
		<string>Lead: Janet Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>I gave you fire
You gave me rain
Your story never has an ending
Always ends up the same

I tried to stand up
You brought me down
You twist your words around in circles
Til I can&apos;t keep my ground

It&apos;s the last time I listen to you
Can&apos;t stand what you do
It&apos;s drivin me crazy
Countdown – you&apos;re tickin me off

CHORUS
Think I&apos;m gunna explode
You got here just a second too slow
Pushed to the point of breaking
You left me out here shaking
I&apos;ve tried hard not to blow
But you better get goin
Cuz I&apos;m &apos;bout to explode

Picked up the pieces
And now I see
There is an ending to this story
Gonna work out for me
I&apos;m gonna stand up
Then bring you down
And now the time has come for me
To turn the tables around

It&apos;s the last time I listen to you
Can&apos;t stand what you do
It&apos;s drivin me crazy
Countdown - you're tickin me off

CHORUS x 3
</string>
	</dict>
	<key>turn me up</key>
	<dict>
		<key>credits</key>
		<string>Lead: Stacey Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>Turn me up cuz I&apos;m never gon stop
Turn me up cuz I&apos;m never gon stop
Turn me up cuz I&apos;m never gon stop
Turn me, turn me, turn me, turn me

You see my lips my body see me work it everywhere
I won&apos;t stop talkin won’t shut up til I&apos;m a millionaire
And even then I&apos;ll use my dollars use my diamond rings
Seduce the whole world til they know my name, what I can bring

Baby tell me what you see, wanna take this ride with me
Don&apos;t ask no questions no questions baby follow my lead
Follow my lead

Turn me up cuz I&apos;m never gon stop
Turn me up cuz I&apos;m never gon stop
Turn me up cuz I&apos;m never gon stop
Turn me, turn me, turn me, turn me

CHORUS
When I bust out on the scene
You never ever gonna leave me
You gotta see it to believe it
Turn me turn me turn me turn me up now
You wanna feel a little power
Well I&apos;m the lady of the hour
Got something nice you gon devour
Turn me turn me turn me turn me up now

When you&apos;re wishing for a star - you gotta wait in line
Just look for red, I&apos;m walkin down that carpet lookin fine
Oh everyone&apos;s waiting for me
Now you know what you see, gonna take this ride with me
Don&apos;t ask no questions no question baby follow my lead
Follow my lead

Turn me up cuz I&apos;m never gon stop
Turn me up cuz I&apos;m never gon stop
Turn me up cuz I&apos;m never gon stop
Turn me, turn me, turn me, turn me

CHORUS

Give me a beat, I&apos;ll spit my rhymes no doubt
Every DJ gonna play me til the speakers run out
You like what ya see, so get down low
I&apos;ll give you more of that cuz you&apos;ll be sitting front row
Who&apos;s that who&apos;s that - who&apos;s she?
Turn the lights out baby put that spotlight on me
I&apos;ll be running the show, I&apos;m the pain in ya chest
Cuz anything that you can do, I can do the best

CHORUS
</string>
	</dict>
	<key>won&apos;t fall</key>
	<dict>
		<key>credits</key>
		<string>Lead: Stacey Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>Diamonds and pearls - what more can you lend me?
Don&apos;t know when I started feelin this envy
But I&apos;ll still call

Shake my head, stomp my feet on the floor, think I got it all figured out

CHORUS
Take me, break me, shake me
I won&apos;t fall, won&apos;t fall
Paint me, shine me, find me
I won&apos;t fall, won&apos;t fall for that again

I keep holdin on, hope that you&apos;ll come through
Manipulation is something you&apos;re used to
No, I don&apos;t want a place if that&apos;s your world
So take back, take back, all your diamonds and your pearls

Shake my head, stomp my feet on the floor, think I got it all figured out

CHORUS

Where am I going? Where am I going?
Take me I&apos;m going I&apos;m going I&apos;m going oh yeah

CHORUS
</string>
	</dict>
	<key>whatcha do</key>
	<dict>
		<key>credits</key>
		<string>Lead: Mike Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>I see you acting like you&apos;re mad at me
Crowding my space and giving me all your faces
Trying to make up a scene just like you do

But I&apos;m not here to play your games
You always think it&apos;s about you
Acting like you&apos;re about to go and change my mind
But my mind is made up

And every time we go we go round and round merry go
I keep pushing off but you never seem to let it go
Dragging me around up and down we go
How it goes - nobody knows cuz you&apos;re just too unpredictable

CHORUS
Girl you keep on testing me
Trying to get the best of me
Never seem to let it be
How you gonna get it when you do just like you do babe?
(Whatcha do whatcha do whatcha do)
Trying to find a chemistry
Looking for a recipe
You never get it cuz all you do is mess with me and do just like you do babe
(Do whatcha do whatcha do whatcha do)

I guess you&apos;re just that kind of girl
Gonna take on the world acting like you&apos;re the pearl
Gonna take em by storm to get what you want
And baby you&apos;re a shooting star
Shining so brightly, gonna shimmer and blind me
Til you get what you need
You take it from me

And every time we go we go round and round merry go
I keep pushing off but you never seem to let it go
Dragging me around up and down we go
How it goes nobody knows cuz you&apos;re just too unpredictable

CHORUS

But every now and then you cut through your devices
I see you shining and I can&apos;t help but wonder why you just keep on pressing me

CHORUS
</string>
	</dict>
	<key>don&apos;t run away</key>
	<dict>
		<key>credits</key>
		<string>Leads: Janet, Stacey, Mike Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>Don&apos;t run away
Don&apos;t run away from it all
When you start to fall

They all say that they get it
But they really don&apos;t
Can&apos;t see how big it is
They know just what they want to know
Afraid to close your eyes
Cuz you have big dreams
And when you wake up in the morning makes you wanna scream
I used to look at people jealous of what they had
But when I take a closer look my life it ain&apos;t so bad
Cuz he&apos;s rich but he has no mother
Yeah he&apos;s poor but he has a brother

Baby don&apos;t let em get you down
You gotta keep on keepin on solid ground
Might be a lonely road
But there&apos;s only one road that can take you home

CHORUS
Don&apos;t run away
Don&apos;t run away from it all
When you start to fall
Don&apos;t run away
Don&apos;t let it weigh on your heart
Pull you apart
You hold on to the power to let it go

You think you&apos;re by yourself but guess what I feel it too
We all got different baggage different things to go through
I hate it when it&apos;s hard when it&apos;s so frustrating
Can&apos;t hear another word cuz you&apos;re sick of waiting
Maybe this time look up ya gotta be somebody
Can&apos;t say you won&apos;t don&apos;t have to wait for anybody

Baby don&apos;t let em get you down
You gotta keep on keepin on solid ground

So get up stand up let the gloves come out
Cuz one day you&apos;re gonna wake up have it all figured out

Baby don&apos;t let em get you down
You gotta keep on keepin on solid ground
Might be a lonely road
But there&apos;s only one road that can take you home

CHORUS x 3

Baby don&apos;t let em get you down
You gotta keep on keepin on solid ground
Might be a lonely road
But there&apos;s only one road that can take you home
</string>
	</dict>
	<key>right back to me</key>
	<dict>
		<key>credits</key>
		<string>Leads: Janet, Stacey Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>Alone in the evening
Sun is going down
Called you, but you&apos;re not around
The plans keep on changing
Where have you been?
The moment you leave me you keep me wondering

I thought I was the only one but maybe I&apos;m crazy
Baby tell me that I&apos;m wrong and we&apos;ll be all right

CHORUS
I want him - I need him
When I call him
He&apos;ll come running - come running - come running
Right back to me
She loves him - But she&apos;s got him
And I thought that
He&apos;d come running - come running - come running
Right back to me

I wake up each morning
With thoughts about you
And I know that, I know that, you&apos;re thinking of me too
Where are you baby?
I wait for your call
Can we stop all this hiding and tear down this wall?

Tell me I&apos;m the only one, so I won&apos;t go crazy
Baby take me in your arms, keep holding tight

CHORUS

What can I do? What can I do? What can I do?
I&apos;m the one, I&apos;m the one, I&apos;m the one
That should be with you

CHORUS
</string>
	</dict>
	<key>died on the table</key>
	<dict>
		<key>credits</key>
		<string>Lead: Stacey Music/Lyrics: M. Tisher &amp; Eh440</string>
		<key>lyrics</key>
		<string>Burning up got me hot goin crazy
Baby not the kinda hot that I want you to make me
Shut your mouth don&apos;t be dumb - such a baby
Keep coming back and makin me so angry

Woah you make me wanna throw up
Woah I think enough is enough

CHORUS
Boy I&apos;m over it cuz you don&apos;t see me cryin
You know we&apos;re past the point of trying to revive it
Say goodbye to what we used to be this la-la-la-love di-died on the table
You forget that we were never even breathing
We were lying there hearts stopped beatin
Say goodbye to what we used to be this la-la-la-love di-died on the table

Here you are like a ghost think you lost it
You&apos;re the only skeleton that&apos;s hiding in my closet
Shut it off pull the plug made it flat line
Now that you&apos;re gone I&apos;ve never been so alive

Woah you make me wanna throw up
Woah I think enough is enough

CHORUS

You know I&apos;m done with talkin, now you see me walkin don&apos;t you come a knocking
Find another place to be you better hurry up cuz I&apos;m about to rock it
Pull my shirt down I push em up time for the crowd crowd
Wanna be the big time wanna bust a fat rhyme crank that music too loud
Wind me down then wind me up take a test drive in my DD cup
What you know what you know ‘bout me everything you get is everything you see ya
I-I don&apos;t like you no more
Ticka ticka time bomb drop to the floor
Hitting all the home runs take ya what you&apos;re good for

CHORUS x 2
</string>
	</dict>
	<key>lonely bones</key>
	<dict>
		<key>credits</key>
		<string>Lead: Mike Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>Do you remember when we were younger
Stayed up all night talking on the phone
I loved you, thought that you knew
Tried to tell you, thought I made it known
But I was wrong

Cuz every little circumstance found yourself a new romance
And left me here so lonely like I never even had a chance
And when I thought we could and everything felt as it should
You put my heart on ice and then you hung me out to dry

CHORUS
I wanna be more than friends
Loved you since my love began
If I had half the chance
I&apos;d give it all to be your man
But I sit here by the phone
Patient as I claim my throne
King of all the lonely bones
I&apos;ll wait til kingdom come
Til every bond we make comes undone
Cuz I think that you&apos;re the one

Do you remember late in September
You were broken, calling on the phone
You had a bad day, you came to my place
Felt your heart ache inside my arms
You were disarmed

And when you woke up in my bed with all your dreams still in your head
I kissed your cheek and didn&apos;t speak a word until we said goodbye
And all the time we spent and several days that came and went
You call me &quot;friend&quot; to tell me that you met another man

CHORUS

So just give to me baby
Give it to me one more time
Just give it to me baby
Give it to me one more time

I wanna be more than friends
Loved you since my love began
If I had half the chance
I&apos;d give it all to be your man
I sit here all alone
Patient as I claim my throne
King of all the lonely bones
I&apos;ll wait til kingdom come
Til every bond we make comes undone
Cuz I think that you&apos;re the one
</string>
	</dict>
	<key>nowhere to hide</key>
	<dict>
		<key>credits</key>
		<string>Lead: Stacey Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>Wrapped all up in your aggression
Cuz you tie me down like your possession
Fill my head with this obsession
Then I&apos;ll come right back to you

Feels so wrong, this new infection
Gonna steer me from the right direction
Can&apos;t stop now, I need perfection
Then I&apos;ll crawl right back to you

CHORUS
I breath it in - I push it out
You took my cup and you filled it with doubt
I&apos;m feeling sick that you made me feel so perfect inside
Take me I&apos;m done I&apos;ve got nowhere to hide
You tie me down - To hold me up
I took a hit but it wasn&apos;t enough
I&apos;m feeling sick that you made me feel so perfect inside
Take me I&apos;m done I&apos;ve got nowhere to hide

Save me from my own starvation
Won&apos;t you feed me with your sweet fixation?
Heal me with your medication
Then I&apos;ll come right back to you

Take me to your destination
I was misled by my fascination
Givin into your temptation
Then I&apos;ll crawl right back to you

CHORUS

I knew that one day I would make it back to Neverland
I fly so high, no need to try, you pick me up cuz I can&apos;t stand
Turning me black, ya turning me blue,
I&apos;m taking ya hits cuz I need to feel new and
I wanted to ra-ra-run, but baby I had to take you cuz
It&apos;s in me - I like it - I live for the fightin
I dial the 9 and the 1 but I don&apos;t hit the 1
I don&apos;t want them to come - no
You make me feel so pretty
Like I could run the city
I love it when you play me

CHORUS
</string>
	</dict>
	<key>unpredictable</key>
	<dict>
		<key>credits</key>
		<string>Lead: Janet Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>I will stop another one
If I stop and breathe
But I know one day
I&apos;m gonna be too weak

Here it comes, another one
This one&apos;s off the chart
I&apos;m losing count again
It&apos;s messing with my heart, with my heart
It&apos;s out of control now

CHORUS
So unintentional
It&apos;s just the way it goes
This tiny atrial
So unpredictable

Achin to feel alive

I&apos;ve been tricked again
Here and there
Siphoned all my air
I ain&apos;t going anywhere

Cuz now I stand on this ledge
With my new confidence
Living in suspense
It&apos;s been a turn of events on my heart
I&apos;m taking control now

CHORUS

One (Breathe it in breathe it in, gotta stay alive)
Two (Feel the beat, feel the beat, don&apos;t wanna see the line)
Three (Getting up getting up getting up now)
Breathe
One (Breathe it in breathe it in, gotta stay alive)
Two (Feel the beat, feel the beat, don&apos;t wanna see the line)
Three (Getting up getting up getting up now)

CHORUS x 2
</string>
	</dict>
	<key>don&apos;t run away (feat. serena ryder)</key>
	<dict>
		<key>credits</key>
		<string>Leads: Janet, Stacey, Mike, Serena Music/Lyrics: Eh440</string>
		<key>lyrics</key>
		<string>Don&apos;t run away
Don&apos;t run away from it all
When you start to fall

They all say that they get it
But they really don&apos;t
Can&apos;t see how big it is
They know just what they want to know
Afraid to close your eyes
Cuz you have big dreams
And when you wake up in the morning makes you wanna scream
I used to look at people jealous of what they had
But when I take a closer look my life it ain&apos;t so bad
Cuz he&apos;s rich but he has no mother
Yeah he&apos;s poor but he has a brother

Baby don&apos;t let em get you down
You gotta keep on keepin on solid ground
Might be a lonely road
But there&apos;s only one road that can take you home

CHORUS
Don&apos;t run away
Don&apos;t run away from it all
When you start to fall
Don&apos;t run away
Don&apos;t let it weigh on your heart
Pull you apart
You hold on to the power to let it go

You think you&apos;re by yourself but guess what I feel it too
We all got different baggage different things to go through
I hate it when it&apos;s hard when it&apos;s so frustrating
Can&apos;t hear another word cuz you&apos;re sick of waiting
Maybe this time look up ya gotta be somebody
Can&apos;t say you won&apos;t don&apos;t have to wait for anybody

Baby don&apos;t let em get you down
You gotta keep on keepin on solid ground

So get up stand up let the gloves come out
Cuz one day you&apos;re gonna wake up have it all figured out

Baby don&apos;t let em get you down
You gotta keep on keepin on solid ground
Might be a lonely road
But there&apos;s only one road that can take you home

CHORUS x 3

Baby don&apos;t let em get you down
You gotta keep on keepin on solid ground
Might be a lonely road
But there&apos;s only one road that can take you home
</string>
	</dict>
	<key>never gonna give you up</key>
	<dict>
		<key>credits</key>
		<string>Leads: Stacey, Mike, Janet Music/Lyrics: M. Aitken, M. Stock, P. Waterman</string>
		<key>lyrics</key>
		<string>We&apos;re no strangers to love
You know the rules and so do I
A full commitment&apos;s what I&apos;m thinking of
You wouldn&apos;t get this from any other guy
I just wanna tell you how I&apos;m feeling
Gotta make you understand

CHORUS
Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you

We&apos;ve known each other for so long
Your heart&apos;s been aching but you&apos;re too shy to say it
Inside we both know what&apos;s been going on
We know the game and we&apos;re gonna play it
And if you ask me how I&apos;m feeling
Don&apos;t tell me you&apos;re too blind to see

CHORUS

Never gonna give, never gonna give, give you up
Never gonna give, never gonna give, give you up
Never gonna give, never gonna give, give you up
Never gonna give, never gonna give

Now drop the beat!
Hello hello pick up ya cell
Eh440 got a story to tell
We got Mike, Luke, JT, and Joe,
and I&apos;m Stacey Kay, spittin out the flow
You might think I&apos;m on the yae
But I drank a Redbull - okay?!
Take another look at me
I&apos;m checkin out the remedy
I&apos;ll neva be your enemy ya better be in front of me
I&apos;m feelin like a little bit a suga
Like I&apos;m livin in Antigua
Like I wanna be a diva
Take a ticket for me
Do me do me do me drop the beat and stick it to me
Cuz I&apos;m ready for some booty
Kinda likin what ya doin now stop!
(Never gonna give up)

CHORUS x 2
</string>
	</dict>
	<key>like an animal</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner, Laidman</string>
		<key>lyrics</key>
		<string>VERSE
Watch you back &apos;cause here I come
You gotta get up fast, you better run
Let me tell ya
I&apos;m the one you wanna know
I&apos;m the one who runs the show
Gonna do it nice and slow

I&apos;ll only tell you once what I&apos;m about
And we gon&apos; make a mess, I&apos;ll take you out
Let me tell ya
We the ones you wanna know
We the ones who run the show
Never gonna let you go

PRE CHORUS
This is what I&apos;m feelin&apos;
Feels like I&apos;m in heat, and
Temperature is risin&apos;
Are you ready for it?
Gotta get my prize, yeah
No, I can&apos;t disguise it
Gonna be a fight, yeah
Like an animal

CHORUS
Let &apos;em see, let &apos;em see, let &apos;em see
Gonna be, gonna be, gonna be
What you need, what you need, what you need
Chew you up and spit you out
Like an animal

VERSE
Staring at that finish line
And if you shoot your gun, I&apos;ll beat the fastest time
&apos;Cause I&apos;ll be running like the speed of light
Baby I&apos;ll be outta sight
Won&apos;t see me day or night

Don&apos;t try to pick me up, I&apos;ll push you down
Made up our mind, no, we don&apos;t mess around
You heard it
We the ones you wanna know
We the ones who run the show
Never gonna let you go

PRE CHORUS
CHORUS

BRIDGE
You da man? I&apos;m the last man standing
Come over here, Imma give you some candy
You gon&apos; be crying, gonna need your daddy
Woah, got nobody
Ticka tick ow, get your cheque out
&apos;Cause in a minute everybody gonna freak out
Make the world shake, make the world shake
Sha sha sha sha sha shake it up
Alright let&apos;s bring it back right here

CHORUS
</string>
	</dict>
	<key>body count</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner, Celia</string>
		<key>lyrics</key>
		<string>Count me in for your body count

VERSE
Oh, I wanna take it slow, that&apos;s what I said the last time (that&apos;s what I said)
Oh, and then I let him go, I guess he&apos;s not the one (guess he&apos;s not the one)
Oh, but when I look at you I put it into fast drive (I sped it up)
Oh, I guess I&apos;ll bend the rules &apos;cause maybe you&apos;re the one
Okay baby, let&apos;s get dancin&apos;
Step right, step left, back up on me

PRE CHORUS
I look at you I look at me and there&apos;s no place I&apos;d rather be
My vision&apos;s hazy, I&apos;ll go crazy, wasting all my time
I&apos;m feelin&apos; ready, walkin&apos; steady, trip me &apos;cause I wanna get it
Turn me on and put me in the spot light

CHORUS
I got my high heels on (high heels on)
I got that dress you like (dress you like)
You see that look in my eye?
We gon&apos; be up all night (up all night)
And when you drop that beat (drop that beat)
And put the bass down low (woah)
I can&apos;t help myself (help myself)
I thought you should know
Count me in for your body count

VERSE
You like to play it straight and some might call me twisted
I wanna be the bait so baby cast the line (baby cast the line)
Hey, I got nothin&apos; to do, let&apos;s spend this night together (let&apos;s spend it all)
Oh, I&apos;m gonna bend the rules &apos;cause I know that you&apos;re the one
Okay, baby, yep, you caught me
Step right, step left, back up on me

PRE CHORUS
CHORUS

BRIDGE
You&apos;ll be coming back for more (you gonna call my name, call my name)
I&apos;ll be dancing on that floor (Just doin&apos; my thang, doin&apos; my thang)
I know I make you feel so high (ya, I&apos;m like a bad habit, gonna take me up)
I fell right from the sky (I&apos;m gonna make you drop, make you drop)
Count me in for your body count

Count me in for your body count
</string>
	</dict>
	<key>when the lights go up</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner</string>
		<key>lyrics</key>
		<string>VERSE
(Ah, let&apos;s go) Here again waiting in the dark no one to hold my hand
(Woah oh) Heart beating gonna lose my mind could this day be the end
(Step back) Need a second to catch my breath I gotta take this all in
(Relax) Time is ticking like an hour glass it&apos;s slowly sinking in

PRE CHORUS
One more time I&apos;ll be, the one you can&apos;t contain
You can&apos;t handle me, too much to sustain
You won&apos;t get enough, want me &apos;til you drop
I see through your bluff, so baby I&apos;ll climb to the top

CHORUS
Watch me go
I&apos;ll be runnin&apos; up and down these walls
High and low
You can&apos;t escape, you can&apos;t let go
Hold on tight
Get ready for a wake up call
In mid-flight
You&apos;re gonna see that I&apos;m a star
When the lights go up up up, go up up up
When the lights go up up up, go up up up
When the lights go up up up, go up up up
When the lights go up up up, go up up up

VERSE
(Bring it back) Hold up, got the bait on the line, putting out into the tide
(You&apos;re freaking out) Don&apos;t worry keep your eyes on mine and I will be your guide
(You&apos;re gonna find) Some excuse, a reason why you do not want to stay
(Nice try) Make a move and I&apos;ll get you good, nowhere to run or hide

PRE CHORUS
CHORUS

BRIDGE
Hey, here I come again, here I come again
I got a hundred dollar bill and got a couple hundred friends
No, I don&apos;t care what happens, swim on up, I&apos;m the captain
Taking your time again, climb on up &apos;cause we be laughing
Gonna step on that stage, gonna burn out the lights (oh)
We don&apos;t know where we&apos;re gonna fit in
But I&apos;m the best you&apos;ve ever had, let the show begin

CHORUS
</string>
	</dict>
	<key>this is what we do</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner, Celia</string>
		<key>lyrics</key>
		<string>VERSE
I&apos;ve cleaned the board and dusted off the dice
Feel the heat and hear the beat, yeah, of many fearless nights (many fearless nights)
I watch the wheel spin, waiting on a red
The table stated matching all of the plays inside my head (plays inside my)

PRE CHORUS
So, I&apos;m letting go, and you should know, that this is what I&apos;m feeling

CHORUS
I can&apos;t go back, it&apos;s happening
I took my chances
This is what we do
I laid a bet, I doubled down
I took my chances
This is what we do

VERSE
Every day I wondered &apos;about this feeling
I never thought this dream would come to light, I&apos;m holding on tight (holding on tight)
Keep this fire burning through the night
Keep this fire burning for the fight, I&apos;m fighting for my life (fighting for my)

PRE CHORUS
CHORUS
</string>
	</dict>
	<key>gangsta&apos;s paradise</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Wonder, Coolio, Rasheed, Sanders</string>
		<key>lyrics</key>
		<string>VERSE
As I walk through the valley of the shadow of death
I take at look my life and realize there&apos;s nothing left
&apos;Cause I&apos;ve been blasting and laughing so long that
Even my momma thinks that my mind is gone
But I ain&apos;t never crossed a man that didn&apos;t deserve it
We be treated like a punk, you know that&apos;s unheard of
You better watch out you talking, and where you walking
Or you and your homies might be lying in chalk

BRIDGE
Tell me why are we so blind to see
That the ones we hurt and you and me

CHROUS
Keep spending most our lives living in the gangsta&apos;s paradise
Keep spending most our lives living in the gangsta&apos;s paradise
Keep spending most our lives living in the gangsta&apos;s paradise
Keep spending most our lives living in the gangsta&apos;s...
</string>
	</dict>
	<key>boss level</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner</string>
		<key>lyrics</key>
		<string>CHORUS
Jaguar running fast, supersonic like the flash
Quick draw, making moves
Skip the line, that&apos;s what we do
Boss level, speed it up
Try to stop us but we&apos;re movin&apos;
Futuristic, double time
What you got Miss Busta Rhymes?

VERSE
Ticka tocka, never stop it, double-time it triple lock it
Pick a betta place &apos;cause Imma break it up just like a rocket
What&apos;s you number?
Where you from and what the heck is goin&apos; on?
&apos;Cause Imma burst it like a bubble, with a piece of bubble gum
Take another piece of me, &apos;cause you&apos;ll be runnin&apos; out a me
Chew it, chew it, chew it, no ya never breakin&apos; into me
Take another dolla, &apos;cause they pay me like a balla
Putting money in my pocket, then I&apos;ll throw it in the water
Just joking, go get it, you need to call the medic
&apos;Cause I&apos;m so hot, I&apos;ll make you third degree, you won&apos;t regret it
Take a low blow, take a take a low blow
Comin&apos; at you through, come come at me bro
Time is up, done with this, you the ending I can miss
Take a cheque, make it rain, Imma Imma boss hey

PRE CHORUS
Boss level, speed it up
Try to stop us but we&apos;re moving

CHORUS
Jaguar running fast, supersonic like the flash
Quick draw, making moves
Skip the line, that&apos;s what we do
Boss level, speed it up
Try to stop us but we&apos;re movin&apos;
Futuristic, double time
Last try before you die!

VERSE
Okay, didn&apos;t think I did it but I did it, gonna win it
Gonna get up, gonna hit it, gonna do it double time
&apos;Cause you thought I&apos;d come in second, better beat it gonna get it
Gonna drop it, gonna bot it, gonna dig it up and sweat it
But I&apos;ll take another minute &apos;cause I&apos;m only here to win it
And you betta betta bring it buddy, I&apos;m about to drop the money
Elevate it, demonstrate it, bust you up and break ya lip
Wipe it up, mop it up, drop that mic

PRE CHORUS
CHORUS

BRIDGE
Boss level, speed it up
Boss level, speed it up
Boss level, speed it up
Boss level, boss le le le le le level

PRE CHORUS
CHORUS
</string>
	</dict>
	<key>never stop lovin&apos; you</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner</string>
		<key>lyrics</key>
		<string>I&apos;m so in love but I&apos;ll never stop lovin&apos; you, lovin&apos; you
I&apos;m so in love but I&apos;ll never stop lovin&apos; you, lovin&apos; you, I&apos;m

VERSE
Made up your mind, you said I&apos;m you only one
That&apos;s how you are, you go big you don&apos;t go home
We fought, we cried, we did all that we could do
You&apos;re still convinced that my heart belongs to you

PRE CHORUS
It&apos;s not the way we planned it
No you can&apos;t understand it
I found my one and it&apos;s not you
But I need you to know

CHORUS
I&apos;m so in love but I&apos;ll never stop lovin&apos; you, lovin&apos; you
I&apos;m so in love but I&apos;ll never stop lovin&apos; you, lovin&apos; you, I&apos;m
Some people call me crazy (call you crazy)
Tell me I should let you go (let you go)
Well they can call me crazy (call you, call you, call you crazy)
&apos;Cause I want you to know
I&apos;m so in love, but I&apos;ll never stop lovin&apos; you, lovin&apos; you, I&apos;m

VERSE
I wish that we could try, give it a different start
I know that would be too hard on your heart
I make a promise, you won&apos;t see me again
I get it but I don&apos;t want to, you know how I am

PRE CHORUS
It&apos;s not the way we planned it
No you can&apos;t understand it
I found my one and it&apos;s not you
And I need you to know

CHORUS

BRIDGE
And I&apos;ll love you forever, but in a different way
I&apos;m sorry I tried it, I don&apos;t know what else to say
I thought it would be you holding my hand
But I couldn&apos;t fight it, won&apos;t you please understand
I&apos;m so in love but I&apos;ll never stop lovin&apos; you, lovin&apos; you

CHORUS
</string>
	</dict>
	<key>one and only</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner</string>
		<key>lyrics</key>
		<string>VERSE
Take time when you&apos;re feeling lonely, you wanna call me
You&apos;re mine and you need to know that you&apos;re always on mind

PRE CHORUS
When I go on my own, I&apos;m not leaving you behind

CHORUS
You are like the sunrise in mornin&apos; see you shining bright
(No matter how I&apos;m feeling)
When the stars come out I know it&apos;s you that keep me warm at night
(Something to believe in)
It&apos;s you, It&apos;s true
You&apos;re my one and only

VERSE
I hope when I&apos;m miles away it&apos;ll be okay for a while
I know that I fall in love every time I see your smile

PRE CHORUS
CHORUS

BRIDGE
You are the one that I dream of
You are the one that I need
You&apos;re my forever and ever
Just you and me
You, it&apos;s you

CHORUS
</string>
	</dict>
	<key>money in my pocket</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner</string>
		<key>lyrics</key>
		<string>VERSE
Gotta get my dance on, meet me at the cabaret
Looking for some action, yeah, I&apos;m always down to play
Gotta find my baby, make him buy that cabernet
About to get all swanky, pour another one for me

PRE CHORUS
1-2-3-4, cueing up the pocket, ain&apos;t nobody gonna stop it now
5-6-7-wait, get it rollin&apos;, better sink that eight

CHORUS
Oh, you better listen to me
Oh, we got places to be
Oh, &apos;cause I can guarantee
I got money in my pocket and tonight
I&apos;m gonna drop it on ya
Oh, what&apos;s behind that door?
Oh, what you waiting for?
Oh, meet me on the floor
I got money in my pocket and tonight
I&apos;m gonna drop it on ya

VERSE
I&apos;m feeling good, I&apos;m looking hot in the center of the room
Giving you that poker face but I&apos;m not fooling you
Calling all my ladies, you know what to do
Are you ready for it? Oh yeah
Ah, hey

PRE CHORUS
CHORUS
</string>
	</dict>
	<key>the human record</key>
	<dict>
		<key>credits</key>
		<string>L. Stapleton</string>
		<key>lyrics</key>
		<string>Boots and cats, and boots and cats, and boots and cats
</string>
	</dict>
	<key>real thing</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner, Laidman, Garrett, Lumpkin, Mosley</string>
		<key>lyrics</key>
		<string>VERSE
Tell me what to sing and that I can&apos;t be naughty
Tell me they won&apos;t like me &apos;cause the size of my body
Open up the lock, yeah baby set me free
I need to show the poeple all that I can be

PRE CHORUS
I wanna dance all night like Beyoncé
I&apos;m gonna live my life like a star
Gonna rap all day like Missy
I&apos;m gonna riff Christina, oh

CHORUS
&apos;Cause I&apos;m the real thing
Yes I&apos;m the real thing
I&apos;ll be the real thing
(Go ahead and try to stop me)
Real thing
Yes I&apos;m the real thing
Look at the real thing
If you trip me I won&apos;t fall
Start listening to me
&apos;Cause I&apos;m the real thing
Yes I&apos;m the real thing
Look at the real thing

VERSE
If you tick me off I&apos;ll write a song about ya
But you probably won&apos;t listen so you don&apos;t deserve a shout out
You think I&apos;m better comfy in the palm of your hand
Can&apos;t get it through your head make you understand

PRE CHORUS
CHORUS

BRIDGE
Try to forget me, but it&apos;ll be real hard
Think you can catch me, I send my best regards
I take your size 6, and stretch it to a 12
No you can&apos;t stop me, you better watch yourself
Hi my name is, yeah, you know it is
Hi me name is, St- St- St- Stacey Kay
Won&apos;t stop droppin&apos;, won&apos;t stop talkin&apos; make all of them want me
Get ready for the night &apos;cause we be dancing to the pony
If you want it, let&apos;s do it
Ride it, my pony
My saddle&apos;s waiting, come and jump on it
If you want it, let&apos;s do it
Ride it, my pony
My saddle&apos;s waiting, come and jump on it

CHORUS
</string>
	</dict>
	<key>still have my heart</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner</string>
		<key>lyrics</key>
		<string>VERSE
Felt at the start
That the light we had would never leave your heart
And I made up my mind
That the love we had would be the last time
I&apos;m losing hope now
As we&apos;re lying here

CHORUS
Let&apos;s close our eyes to stop the heat
I&apos;ll listen to you breathe &apos;til we fall asleep
And when the sun finds where we are
If you&apos;re no longer here you&apos;ll still have my heart

VERSE
I didn&apos;t see
That you&apos;d fall so far and blame it on me
You didn&apos;t show
That the weight you bared was dragging you low
Circles are breaking
As we&apos;re lying here

CHORUS

BRIDGE
Oh, for all the nights I spent just staring in the dark
Wishing I could take us back in time when we were strangers
Do it all again my love, just better now this time
Picture perfert happiness with my feet on the ground, on the ground

CHORUS
</string>
	</dict>
	<key>i know you want me</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner</string>
		<key>lyrics</key>
		<string>VERSE
You know what you really are, the icing on my broken heart
Crumbling underneath it all, catch me now before I fall
You know what you do to me, so stop it with your sympathy
Keep adding to my misery, you&apos;re messing with my sanity

PRE CHORUS
Turn all the table on ya
Lock all the doors behind ya
Making your mind up for ya
Taking back the control, and
One day you&apos;ll come back to me
I&apos;ll be waiting patiently
Already wrote the story
You&apos;ll be the one so sorry

CHORUS
You go do what you have to do
I&apos;m the one that you&apos;ll run back to
&apos;Cause I know you want me, know you want me, know you want me

VERSE
Can&apos;t deny the memories, we were making history
I don&apos;t get what you can&apos;t see, catch me now before I fall
Tell me now am I insane? Like a virus in my brain
Thought that I was getting through, there&apos;s nothing left that I can do, but

PRE CHORUS
CHORUS
</string>
	</dict>
	<key>wake up</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Kay, Stern, Stapleton, Oliva, Turner</string>
		<key>lyrics</key>
		<string>CHORUS
You gotta wake up in the morning light
You gotta wake up gonna feel alright
You gotta wake up no worries tonight
Woah, woah, woah, woah

VERSE
Sun comes up in the city, &apos;cause that&apos;s just how it goes
I work hard for a living, I did this on my own
I know you might have a problem with the way I live my life
I don&apos;t care it doesn&apos;t phase me from walking in liberty

PRE CHORUS
Somebody once told me always think twice (before I open my mouth)
But I can&apos;t contain this truth from my lips
Watch me go

CHORUS
You gotta wake up in the morning light
You gotta wake up gonna feel alright
You gotta wake up no worries tonight
Woah, woah, woah, woah
You gotta wake up in the morning light
You gotta wake up gonna feel alright
You gotta wake up no worries tonight
Woah, woah, woah, woah

VERSE
Wake on up from your slumber, get ready for the fight
Take up arms in the battle, clothed in what is right
I know you might have a problem with the way I live my life
I don&apos;t care it doesn&apos;t phase me from walking in liberty

PRE CHORUS
CHORUS

BRIDGE
My world might be shaking
My heart might be breaking
This life might be taken from me one day
So I&apos;ll take my chances, snap out of these trances
That keep me from who I&apos;m supposed to be
And I will soar on winds like eagles
To see another day

CHORUS
</string>
	</dict>
	<key>wings</key>
	<dict>
		<key>credits</key>
		<string>Music &amp; Lyrics: Barnes, Kelleher, James, Edwards, Nelson, Pinnock, Thirlwall, Nuri, Lewis, Mischke, Rojas</string>
		<key>lyrics</key>
		<string>VERSE
Mama told me not to waste my life
She said spread your wings my little butterfly
Don&apos;t let what they say keep you up at night
And if they give you (shhh)
Then they can walk on by

My feet, feet can&apos;t touch the ground
I can&apos;t hear a sound
You just keep on running up your mouth, yeah
Walk, walk on over there
&apos;Cause I&apos;m too fly to care, oh yeah

PRE CHORUS
Your words don&apos;t mean a thing
I&apos;m not listening
Keep talking, all I know is

CHORUS
Mama told me not to waste my life
She said spread your wings my little butterfly
Don&apos;t let what they say keep you up at night
They can&apos;t detain you
These wings are made to fly
We don&apos;t let nobody bring us down
No matter what they say, it won&apos;t hurt me
No matter if I fall from the sky
These wings are made to fly

VERSE
I&apos;m firing up on that runway
Know we&apos;re gonna get there someday
We don&apos;t need no ready, steady, go, no
Talk, talk turns into air
And I don&apos;t even care, oh yeah

PRE CHORUS
CHORUS

BRIDGE
I don&apos;t need no one sayin&apos; hey, hey, hey, hey
I don&apos;t hear no one sayin&apos; hey (hey), hey (hey), hey (hey), hey (hey)
Better keep on walking, I don&apos;t wanna hear your talking, boy
Better keep on walking, don&apos;t wanna hear your talking
Your words don&apos;t mean a thing, I&apos;m not listening
They&apos;re just like water off my wings

CHORUS
</string>
	</dict>
</dict>
</plist>
